<footer>
    <div class="content-padding">
        
        <div class="footer-content">
            <p>Copyright &copy; András Gulácsi, 2017</p>
            
            <div class="social-media-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>